.toDoHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 5px 9px 10px #6A706E ;
  border-radius: 10px;
}

.toDoHeader h1 {
  font-family: 'Comic Neue', cursive;
  font-size: 1.7rem;
}

